/* #000 - black */
/* #333 - 80% grey */
/* #666 - 60% grey */
/* #999 - 40% grey */
/* #ccc - 20% grey */

@font-face {
	font-family: 'head';
	src: url("../fonts/avenirlight.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'subhead';
	src: url("../fonts/avenirmedium.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'body';
	src: url("../fonts/avenirbook.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'bodybold';
	src: url("../fonts/avenirbold.ttf");
	font-weight: bold;
	font-style: normal;
}


/*presets*/



*{
	margin: 0px;
	padding: 0px;
	letter-spacing: 1px;
	box-sizing: border-box;
	font-size: 14px;
	font-family: 'body';
	color: #333;
	word-break: keep-all;
}

body {
	background-color: #ccc;
}

/*html elements*/

img,
input[type="image"] {
	width: auto;
	max-width: 100%;
}

hr {
	border-bottom: 1px #000 solid;
}

h1,
h2 {
	font-family: "head";
	font-weight: normal;
}

h1,
h2,
h3,
h4 {
	hyphens: auto;
}

h3,
h4,
h5,
h6 {
	font-family: "subhead";
	font-weight: normal;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 36px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 16px;
}

b,
strong,
dt {
	font-family: "bodybold";
}

a {
	color: #666;
	text-decoration: none;
	font-family: inherit;
}

a:hover {
	color: #000;
	text-decoration: underline;
}

a.blocklink {
	display: block;
}

ul,
ol,
dd {
	padding-left: 4em;
}

blockquote {
	padding: 30px;
	border-left: 10px double #000;
	font-size: 20px;
}

code,
kbd,
samp {
	font-family: monospace;
	background-color: #999;
}

address {
	border-top: 1px solid #000;
}

p,
ul,
ol,
th,
dt,
dd,
input,
textarea,
label,
.label,
input[type="text"],
input[type="password"],
textarea,
select,
input[type="submit"],
input[type="reset"],
input[type="button"],
button[type="submit"],
button[type="reset"],
button[type="button"],
.btn {
	font-size: 14px;
	line-height: 18px;
}

p {
	margin: 5px 0px;
}

label input[type="text"],
input[type="file"],
label input[type="password"],
label textarea,
label select,
input[type="reset"],
ul ul,
ul ol,
ol ol,
ol ul,
li,
span,
sup {
	font-family: inherit;
	color: inherit;
}

sup {
	font-size: .825em;
	vertical-align: top;
}

input,
textarea,
span,
select {
	width: 100%;
}

input[type="checkbox"],
input[type="radio"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button[type="submit"],
button[type="reset"],
button[type="button"],
.btn {
	width: auto;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button[type="submit"],
button[type="reset"],
button[type="button"],
.btn {
	color: #fff;
	background-color: #666;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.btn {
	display: inline-block;
}

.btn a {
	color: #fff;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button[type="submit"]:hover,
button[type="reset"]:hover,
button[type="button"]:hover,
.btn:hover {
	background-color: #000;
}

input[type="text"],
input[type="password"],
textarea,
select {
	padding: 5px;
	background-color: #fff;
}

table,
tbody,
tr {
	width: 100%;
	text-align: left;
	border: 1px solid #000;
}

th,
td {
	padding: 5px;
}

th {
	background: #999;
	font-family: 'bodybold';
}

td {
	font-size: 1.2em;
}

tr:nth-child(odd) {
	background: #ccc;
}

div {
	display: block;
	position: relative;
	width: 100%;
}

.errormessage .error {
	color: #000 !important;
}

.roundPhoto {
	border-radius: 50%;
}

/*continue here*/
/* preset alignments*/

.vertCenterContainer {
	display: flex;
	align-items: center;
}

.vertCenter {
	left: 0px;
	position: absolute;
	top: 50%;
	top: 50px\9;
	transform: translateY(-50%);
}

_::-webkit-full-page-media,
_:future,
 :root .vertCenter {
	top: 50px;
}

.mobileonly {
	display: none !important;
}

.alignCenter {
	text-align: center;
}

.alignRight {
	text-align: right;
}

.alignLeft {
	text-align: Left;
}


/*Preset heights*/

.cH100 {
	height: calc(100% - 100px);
}

.cH75 {
	height: calc(75% - 100px);
}

.cH50 {
	height: calc(50% - 100px);
}

.cH25 {
	height: calc(25% - 100px);
}

.h100 {
	height: 100%;
}

.h75 {
	height: 75%;
}

.h50 {
	height: 50%;
}

.h25 {
	height: 25%;
}


/*columns*/

.container {
	width: 1200px\9;
	max-width: 1200px;
	margin: 0px auto;
	background-color: #fff;
}

.c1o2,
.c1o3,
.c2o3,
.c1o4,
.c2o4,
.c3o4,
.c1o5,
.c2o5,
.c3o5,
.c4o5,
.c1o6,
.c2o6,
.c3o6,
.c4o6,
.c5o6,
.c1o8,
.c2o8,
.c3o8,
.c4o8,
.c5o8,
.c6o8,
.c7o8,
.c1o9,
.c2o9,
.c3o9,
.c4o9,
.c5o9,
.c6o9,
.c7o9,
.c8o9,
.c1o10,
.c2o10,
.c3o10,
.c4o10,
.c5o10,
.c6o10,
.c7o10,
.c8o10,
.c9o10,
.c1o12,
.c2o12,
.c3o12,
.c4o12,
.c5o12,
.c6o12,
.c7o12,
.c8o12,
.c9o12,
.c10o12,
.c11o12 {
	float: left;
}

.c1o2,
.c2o4,
.c3o6,
.c4o8,
.c5o10,
.c6o12 {
	width: 50%;
}

.c1o3,
.c2o6,
.c3o9,
.c4o12 {
	width: 33%;
}

.c2o3,
.c4o6,
.c6o9,
.c8o12 {
	width: 67%;
}

.c1o4,
.c2o8,
.c3o12 {
	width: 25%;
}

.c3o4,
.c6o8,
.c9o12 {
	width: 75%;
}

.c1o5,
.c2o10 {
	width: 20%;
}

.c2o5,
.c4o10 {
	width: 40%;
}

.c3o5,
.c6o10 {
	width: 60%;
}

.c4o5,
.c8o10 {
	width: 80%;
}

.c1o6,
.c2o12 {
	width: 16%;
}

.c5o6,
.c10o12 {
	width: 84%;
}

.c1o8 {
	width: 12%;
}

.c3o8 {
	width: 36%;
}

.c5o8 {
	width: 60%;
}

.c7o8 {
	width: 88%;
}

.c1o9 {
	width: 11%;
}

.c2o9 {
	width: 22%;
}

.c4o9 {
	width: 44%;
}

.c5o9 {
	width: 55%;
}

.c7o9 {
	width: 77%;
}

.c8o9 {
	width: 89%;
}

.c1o10 {
	width: 10%;
}

.c3o10 {
	width: 30%;
}

.c7o10 {
	width: 70%;
}

.c9o10 {
	width: 90%;
}

.c1o12 {
	width: 8%;
}

.c5o12 {
	width: 42%;
}

.c7o12 {
	width: 58%;
}

.c11o12 {
	width: 92%;
}

.clear {
	clear: both;
}

.pad10 {
	padding: 10px;
}

.pad20 {
	padding: 20px;
}

.pad30 {
	padding: 30px;
}

.pad40 {
	padding: 40px;
}

.pad50 {
	padding: 50px;
}

.pad60 {
	padding: 60px;
}

.pad70 {
	padding: 70px;
}

.pad80 {
	padding: 80px;
}

.pad90 {
	padding: 90px;
}

.pad100 {
	padding: 100px;
}

.padL10 {
	padding-left: 10px;
}

.padL20 {
	padding-left: 20px;
}

.padL30 {
	padding-left: 30px;
}

.padL40 {
	padding-left: 40px;
}

.padL50 {
	padding-left: 50px;
}

.padR10 {
	padding-right: 10px;
}

.padR20 {
	padding-right: 20px;
}

.padR30 {
	padding-right: 30px;
}

.padR40 {
	padding-right: 40px;
}

.padR50 {
	padding-right: 50px;
}

.bdr {
	border: 1px solid #2c2c2c;
}

.bdrT {
	border-top: 1px solid #2c2c2c;
}

.bdrB {
	border-bottom: 1px solid #2c2c2c;
}

.bdrR {
	border-right: 1px solid #2c2c2c;
}

.bdrL {
	border-left: 1px solid #2c2c2c;
}

.callLight {
	background-color: #E4F0E8;
	color: #2c2c2c;
}

.callMed {
	background-color: #aec;
	color: #2c2c2c;
}

.callAccent {
	background-color: #ffb;
}

.callAccent hr {
	border-bottom: 1px #447 solid;
}

.callDark {
	background-color: #447;
}

.callDark * {
	color: #fff;
}

.callDark input[type="text"],
.callDark input[type="password"],
.callDark textarea,
.callDark select {
	background-color: #fff;
	color: #2c2c2c;
}

.callDark hr {
	border-bottom: 1px #fff solid;
}

.callDark .bdr {
	border: 1px solid #fff;
}

.callDark .bdrT {
	border-top: 1px solid #fff;
}

.callDark .bdrB {
	border-bottom: 1px solid #fff;
}

.callDark .bdrR {
	border-right: 1px solid #fff;
}

.callDark .bdrL {
	border-left: 1px solid #fff;
}


/*Head and Foot*/

.heading,
.headFiller {
	height: 70px;
}

.footer,
.footFiller {
	height: 30px;
}

.heading,
.footer {
	background-color: #447;
	position: fixed;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

.heading {
	z-index: 20;
	border-bottom: 1px solid #ffb;
}

.footer {
	bottom: 0px;
}

.footer p {
	font-size: 10px;
	margin: 0px;
	line-height: normal;
	color: #ffb;
	padding-top: 5px;
	vertical-align: middle;
}

.sharePostSocialLink {
	display: inline-block;
	width: 20px;
	height: 20px;
	fill: #aec;
}

.footerSocialIconBreaker {
	display: none;
}

.logo {
	display: block;
	float: left;
	padding: 0px 10px;
	margin: 10px 0px;
	width: 170px;
	height: 50px;
}

.logowBreak {
	border-right: #none solid 1px;
}

#mobilemenu {
	display: none;
}

.nav {
	float: right;
	position: relative;
	width: auto;
	height: 70px;
	font-size: 0;
}

.nav ul {
	list-style-type: none;
	list-style-image: none;
	padding: 0px;
}

.nav ul li {
	display: inline-block;
}

.nav ul li a {
	display: block;
	margin-top: 20px;
	padding: 5px 15px;
	width: auto;
	text-decoration: none;
	line-height: 20px;
	color: #ffb;
	font-size: 12px;
	border-right: 1px solid #none;
}

.nav ul li a img {
	width: 15px;
}

.nav ul li a:hover {
	background: none;
	color: #aec;
}

.header-icon-wrapper {
	width: 15px;
	height: auto;
	height: 20px\9;
	display: inline-block;
	vertical-align: middle;
}

_:-ms-lang(x),
.header-icon-wrapper {
	height: 20px;
}

.header-icon {
	fill: #ffb;
}

.nav ul li a:hover .header-icon {
	fill: #aec;
}

.bio {
	display: block;
	float: right;
	margin: 0px;
	width: 220px;
	height: 70px;
	font-size: 12px;
}

.bio a,
.bio b {
	color: #ffb;
}

.bio:hover,
.bio:hover a,
.bio:hover b {
	color: #aec;
	background: none;
}

.bio div {
	float: left;
}

.bioImage {
	width: 70px;
	height: 70px;
	padding: 10px;
}

.bioInfo {
	width: 150px;
	padding: 15px 10px 15px 0px;
}


/*overlay*/

#overlayContainer {
	background-color: rgba(0, 0, 0, 0.75);
	height: 100%;
	position: fixed;
	top: 0px;
	z-index: 15;
	display: none;
	box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.25) inset;
}

.overlay {
	display: none;
	margin: 120px auto 0px auto;
	max-height: calc(100% - 140px);
	overflow-y: auto;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
	background-color: #fff;
}

.overlayWide {
	max-width: 700px;
}

.overlayNormal {
	max-width: 600px;
}

.overlaySlim {
	max-width: 350px;
}

.closeParent {
	float: right;
	font-size: 20px;
	text-align: center;
	width: 30px;
	height: 30px;
	background: #447;
	border-radius: 50%;
	display: block;
	color: #fff;
	position: absolute;
	right: 0px;
	z-index: 15;
	top: 0px;
}

.closeParent:hover {
	background: #ffb;
	color: #fff;
	text-decoration: none;
}


/*tooltip*/

.tooltip {
	position: absolute;
	background-color: #447;
	border-radius: 5px;
	padding: 10px;
	color: #fff;
}


/*datepicker*/

#ui-datepicker-div {
	display: none;
	max-width: 300px;
	background: #fff;
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.ui-datepicker-calendar th span {
	color: #fff;
}

.ui-datepicker-title {
	text-align: center;
	width: 200px;
	margin: 0px auto;
	font-size: 14px;
	padding: 5px;
}

.ui-datepicker-title span {
	font-family: "bodybold";
	font-size: 14px;
}

.ui-datepicker-prev {
	float: left;
	font-size: 12px;
	display: inline-block;
	cursor: pointer;
	padding: 5px;
}

.ui-datepicker-next {
	float: right;
	font-size: 12px;
	display: inline-block;
	cursor: pointer;
	padding: 5px;
}

.ui-datepicker-prev span,
.ui-datepicker-next span {
	color: #447;
}

.ui-datepicker-prev span:hover,
.ui-datepicker-next span:hover {
	color: #ffb;
}


/*graphic radio*/

.graphic_radio {
	max-width: 100px;
	width: auto;
	display: inline-block;
	margin: 1em;
	vertical-align: top;
}

.graphic_radio input[type="radio"] {
	left: -10000px;
	position: relative;
}

.graphic_radio a {
	display: block;
	width: 100px;
	height: 100px;
	border-style: solid;
	border-color: #fff;
	border-radius: 50%;
	background-size: 1400px auto;
	margin: 0px auto;
}

.mini_graphic_radio.graphic_radio a {
	width: 70px;
	height: 70px;
}

.graphic_radio a img {
	border-radius: 50%;
}

.graphic_radio a:hover {
	border-color: #ffb;
}

a.selected {
	border-color: #447;
}

a.selected + div {
	display: block;
	padding: 10px;
	background-color: #447;
	color: fff;
}

.graphic_radio a + div {
	padding: 10px;
	border-radius: 20px;
}

.graphic_radio a + div p {
	margin: 0;
	text-align: center;
}

.graphic_radio_container label.error {
	display: block;
}

a.selected + div p,
a.selected + div p {
	color: #fff;
}


/*form wizard*/

fieldset {
	border: none;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	width: 100%;
}

.nextstep,
.prevstep {
	font-size: 1.4em;
	padding: 1em;
}

.nextstep {
	float: right;
}

.prevstep {
	float: left;
}

.formWizard fieldset:first-of-type {
	display: block;
}

.formWizard fieldset {
	display: none;
}

.formWizardSteps,
.formWizardSections {
	padding: 10px;
	border-top: 1px solid #ffb;
	border-bottom: 1px solid #ffb;
}

.formWizardSections ul,
.formWizardSteps ul {
	text-align: center;
	padding: 0px;
}

.formWizardSections li,
.formWizardSteps li {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	list-style: none;
}

.formWizardSections a,
.formWizardSteps a {
	padding: 20px;
	display: block;
}

.formWizardSections a:hover,
.formWizardSteps a:hover {
	text-decoration: none;
}

.fwStepsprev,
.fwSectionsprev {
	color: #aec !important;
}

.fwStepsprev:hover,
.fwSectionsprev:hover {
	color: #aec !important;
}

.fwStepscurrent,
.fwSectionscurrent {
	color: #aec !important;
}


/*Slider*/

#slides {
	height: calc(100% - 40px);
	background-image: url(../images/sliderbg.jpg);
	background-position: center 70px;
	background-attachment: fixed;
	background-size: cover;
}

.slide {
	display: none;
	float: left;
	position: absolute;
	top: 0px;
}

.slidebtnprev {
	font-size: 5em;
	float: left;
	display: block;
	z-index: 2;
	text-align: left;
	padding: 0 0 0 .5em;
	width: auto;
	left: 10px;
}

.slidebtnprev a,
.slidebtnnext a {
	color: rgba(255, 255, 255, 0.5);
}

.slidebtnprev a:hover {
	text-decoration: none;
	color: #447;
}

.slidebtnnext {
	font-size: 5em;
	float: right;
	display: block;
	z-index: 2;
	text-align: right;
	padding: 0 .5em 0 0;
	right: 10px;
	left: auto;
	width: auto;
}

.slidebtnnext a:hover {
	text-decoration: none;
	color: #447;
}

.pagination {
	font-size: 20px;
	text-align: center;
	background-color: #E4F0E8;
	line-height: 200%;
	height: 40px;
}

.pagination a {
	color: #fff;
}

.pagination a:hover {
	color: #447;
	text-decoration: none;
}

.slide {
	background: none;
}

.pagination a.pagactive {
	color: #447;
}

.pagination.paginationWithThumbs a.pagactive {
	border: 2px solid #447;
}

.pagination.paginationWithThumbs a {
	border: 2px solid transparent;
}

.pagination a:hover {
	color: #ffb;
}

.pagination.paginationWithThumbs a:hover {
	border: 2px solid #ffb;
}

.pagination a {
	border-radius: 50%;
}

.paginationWithThumbs a {
	display: inline-block;
	margin-top: 3px;
}

.paginationWithThumbs img {
	border-radius: 50%;
	width: 30px;
}


/*Quiz Slider*/

.quizQuestion {
	display: none;
	top: 0px;
}

.quizCompleteConfirm {
	display: none;
}

#quizSlide1 {
	display: block;
}

.quizLife {
	color: #aec;
}

.quizLifeWrong {
	color: #E4F0E8;
}

.incorrectAns {
	color: #ffb;
}

.modcontainer:first-of-type {
	display: block;
}

.modcontainer {
	display: none;
}

.messageConfirm {
	display: none;
}

.morecontent span {
	display: none;
}

.morelink {
	display: block;
}

.collapse {
	display: none;
}

.collapseBtn {
	cursor: pointer;
}

.durationDay,
.durationHr,
.durationMin,
.durationSec {
	color: #447;
}

.sortable {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.sortable li:hover {
	cursor: pointer;
}

#parallax1,
#parallax2,
#parallax3,
#parallax4 {
	background-repeat: no-repeat;
	background-position: center 50%;
	position: fixed;
	width: 100%;
	height: 100%;
}

#parallax1 {
	background-image: url(../images/parallaxbg1.png);
}

#parallax2 {
	background-image: url(../images/parallaxbg2.png);
}

#parallax3 {
	background-image: url(../images/parallaxbg3.png);
}

#parallax4 {
	background-image: url(../images/parallaxbg4.png);
}

.ui-autocomplete {
	list-style: none;
	border: 1px solid #ccc;
	max-width: 400px;
	z-index: 10;
}

.ui-autocomplete li {
	background-color: #FFF;
	border-bottom: 1px solid #ccc;
}

.ui-autocomplete li a {
	display: block;
}

.ui-autocomplete li a.ui-state-focus {
	background: #E4F0E8 !important;
	border-radius: 0;
}

#carousel,
#carousel2 {
	position: fixed;
	width: 100%;
	height: 100%;
	background-position: 0% 50%;
	background-size: 300px 300px;
}

#carousel {
	background-image: url(../images/carouselbg.png);
}

#carousel2 {
	background-image: url(../images/carouselbg2.png);
}

@media only screen and (max-width: 1400px) {
	h1 {
		font-size: 36px;
	}

	h2 {
		font-size: 32px;
	}

	h3 {
		font-size: 28px;
	}

	h4 {
		font-size: 22px;
	}

	h5 {
		font-size: 18px;
	}

	h6 {
		font-size: 16px;
	}

	.footer {
		position: relative;
	}

	.nav {
		width: 100%;
		position: absolute;
		top: 70px;
		height: 30px;
		border-right: none;
		background-color: #447;
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
	}

	.navContent {
		position: relative;
		width: auto;
		text-align: center;
	}

	.nav ul li a {
		margin-top: 0px;
		padding: 5px 20px;
	}

	.navLastLink {
		border-right: none !important;
	}

	.headFiller {
		height: 100px;
	}

	.footFiller {
		display: none;
	}
}

@media only screen and (max-width: 900px) {
	* {
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
	}

	.c1o4,
	.c2o4,
	.c3o4,
	.c1o5,
	.c2o5,
	.c3o5,
	.c4o5,
	.c1o6,
	.c2o6,
	.c3o6,
	.c4o6,
	.c5o6,
	.c1o8,
	.c2o8,
	.c3o8,
	.c4o8,
	.c5o8,
	.c6o8,
	.c7o8,
	.c1o9,
	.c2o9,
	.c3o9,
	.c4o9,
	.c5o9,
	.c6o9,
	.c7o9,
	.c8o9,
	.c1o10,
	.c2o10,
	.c3o10,
	.c4o10,
	.c5o10,
	.c6o10,
	.c7o10,
	.c8o10,
	.c9o10,
	.c1o12,
	.c2o12,
	.c3o12,
	.c4o12,
	.c5o12,
	.c6o12,
	.c7o12,
	.c8o12,
	.c9o12,
	.c10o12,
	.c11o12 {
		float: none;
		width: 100%;
	}

	.desktoponly {
		display: none !important;
	}

	.mobileonly {
		display: block !important;
	}

	.pad10,
	.pad20,
	.pad30,
	.pad40,
	.pad50,
	.pad60,
	.pad70,
	.pad80,
	.pad90,
	.pad100 {
		padding: 20px;
	}

	#mobilemenu {
		display: block;
		padding: 0px;
		text-align: center;
		width: 200px;
		color: #fff;
		float: right;
	}

	#mobilemenu:hover,
	.bio:hover {
		background: #E4F0E8;
	}

	#mobilemenu a:hover,
	.bio a:hover {
		color: #2c2c2c;
		text-decoration: none;
	}

	.nav {
		display: none;
	}

	.nav.active {
		display: block;
		height: 245px;
		border-top: none;
		clear: both;
		display: block;
		overflow-y: auto;
		width: 200px;
		right: 0px;
	}

	.navContent {
		width: 100%;
	}

	.nav ul li {
		display: block;
		float: none;
		position: relative;
	}

	.nav ul li a {
		font-size: 16px;
		text-align: left;
		width: 100%;
		padding: 20px;
		margin: 0px;
		border-right: none !important;
		border-top: 1px solid #447 !important;
	}

	.nav ul li a:hover {
		background: none;
		background-color: #E4F0E8;
		color: #2c2c2c;
	}

	.bio {
		width: 70px;
		border-right: 1px solid #fff;
	}

	.bioInfo {
		display: none;
	}

	.menuicon {
		display: block;
		width: 70px;
		height: 70px;
		float: left;
	}

	.menuicon img {
		padding: 10px;
	}

	.menutitle {
		font-size: 40px;
		padding: 15px 0px;
		display: block;
		width: 180px;
		line-height: 40px;
		color: #fff;
	}

	.headFiller {
		height: 70px;
	}

	.footer {
		height: 90px;
	}

	.footer p {
		text-align: center;
	}

	.sharePostSocialLink {
		width: 40px;
	}

	#slides {
		height: 100%;
	}

	.formWizardSteps,
	.formWizardSections {
		display: none;
	}
}

@media only screen and (max-width: 500px) {
	.c1o2,
	.c1o3,
	.c2o3 {
		width: 100%;
		float: none;
	}

	.desktoponly {
		display: none !important;
	}

	.mobileonly {
		display: block !important;
	}

	#mobilemenu {
		width: 70px;
	}

	.menutitle {
		display: none;
	}

	.nav.active {
		width: 100%;
	}

	.headFiller {
		height: 70px;
	}

	.slider,
	li.selection {
		width: calc(100% - 14px);
	}

	li.selection a.close {
		position: absolute;
		right: 30px;
	}

	.ui-autocomplete {
		list-style: none;
		border: 1px solid #ccc;
		max-width: 280px;
		z-index: 10;
		padding-left: 0px;
	}

	.ui-autocomplete li {
		height: 100px;
	}
}
